body {
    padding: 30px;
    background-color: white(255, 255, 255);

}

.headerDiv {
    display: flex;
    justify-content: space-around;
    height:30px;
    width: 1450px;
}

.logoDiv {
   background-image: url(../assets/images/Logo.png);
   background-repeat: no-repeat;
   width: 60px;
   height: 60px;
}

.LeftDiv {
    display: flex;
    justify-content: space-between;
    width: 440px;
}

.RightDiv {
    display: flex;
    justify-content: space-between;
    width: 142px;
}

.headerButtons {
    background-color: transparent;
    border: none;
    font-weight: bold;
    margin-top: 20px;
}

.SignUpButton {
    background-color: rgb(100, 60, 214);
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 12px;
    height: 33px;
    width: 80;
    font-weight: bold;    
}

.mainDiv {
    display: flex;
    justify-content: space-around;
    height: 550px;
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
    margin-left: 270px;
    margin-right: 140px;
    width: 940px;
}

.leftMain {
    background-color: rgb(255, 255, 255);
    width: 400px;
}

.form {
   background-color: rgb(255, 255, 255);
   width: 400px;
   border: 2px;
   border-radius: 5px;
   box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.2);
}

input {
    padding: 7px;
    margin: 6px;
    margin-left: 21px;
    margin-top: 28px;
    border-radius: 5px;
    font-weight: bold;
 }

 textarea {
    padding: 7px;
    margin: 6px;
    margin-left: 21px;
    margin-top: 28px;
    border-radius: 5px;
    width: 360px;
    font-weight: bold;
 }

 .send {
    padding: 7px;
    margin: 6px;
    margin-left: 21px;
    margin-top: 18px;
    width: 362px;
    height: 40px;
    border-radius: 5px;
    background-color:rgb(100, 60, 214);
    color: white;
    font-weight: bold;
    border: none;
 }

.Title {
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 33px;
    line-height: 30px;
}

.firstText {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
} 

.imageTitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} 

.image {
    background-image: url(../assets/images/images.jpeg);
    border-radius: 10px;
    width: 382px;
    height: 132px;
}    

.footer {
    display: flex;
    justify-content: space-around;
}  

.uk {
    width: 160px;   
    padding-top: 15px;
}  

.Fr {
    width: 160px;
    padding-top: 15px;
}

.countrynamediv {
    height: 20px;
    min-width: 150px;
    padding: 3px;
    clear: left;
}

.footercontent{
    min-width: 160px;
    height: 75px;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.ubicationPic {
    background-image: url(../assets/images/icon\ ubication\ uk.png);
    width: 30px;
    height: 30px;
    margin-top: 22px;
   
}  



    