body {
    padding: 30px;
    background-color: white(255, 255, 255);

}

.headerDiv {
    display: flex;
    justify-content: space-around;
    height:30px;
}

.logoDiv {
   background-image: url(../assets/images/Logo.png);
   background-repeat: no-repeat;
   width: 60px;
   height: 60px;
}

.LeftDiv {
    display: flex;
    justify-content: space-between;
    width: 414px;
}

.RightDiv {
    display: flex;
    justify-content: space-between;
    width: 142px;
}

.headerButtons {
    background-color: transparent;
    border: none;
    font-weight: bold;
    margin-top: 20px;
}

.SignUpButton {
    background-color: rgb(100, 60, 214);
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 12px;
    height: 33px;
    width: 80;
    font-weight: bold;    
}

.mainDiv {
    display: flex;
    justify-content: space-around;
    height: 550px;
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
    margin-left: 270px;
    margin-right: 140px;
    width: 940px;
}

.leftMain {
    background-color: rgb(255, 255, 255);
    width: 400px;
}

.form {
   background-color: rgb(255, 255, 255);
   width: 400px;
   border: 2px;
   border-radius: 5px;
   box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.2);
}

input {
    padding: 7px;
    margin: 6px;
    margin-left: 21px;
    margin-top: 28px;
    border-radius: 5px;
    font-weight: bold;
    border-color: gray;
 }

 textarea {
    padding: 7px;
    margin: 6px;
    margin-left: 21px;
    margin-top: 28px;
    border-radius: 5px;
    width: 360px;
    font-weight: bold;
 }

 .send {
    padding: 7px;
    margin: 6px;
    margin-left: 21px;
    margin-top: 18px;
    width: 362px;
    height: 40px;
    border-radius: 5px;
    background-color:rgb(100, 60, 214);
    color: white;
    font-weight: bold;
    border: none;
 }
